apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  labels:
    app: fastapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: mrbaloyin/fastapi-app-dev:latest
          ports:
            - containerPort: 755
          env:
            - name: MLFLOW_TRACKING_URI
              value: "http://mlflow:5000"
            - name: PLANNER_URL
              value: "http://agents-planner:8080"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 755
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 755
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "512Mi"
